<p id="notice"><%= notice %></p>

<h1>Webservices</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Wsdl</th>
      <th>Url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @webservices.each do |webservice| %>
      <tr>
        <td><%= webservice.description %></td>
        <td><%= webservice.wsdl %></td>
        <td><%= webservice.url %></td>
        <td><%= link_to 'Show', webservice %></td>
        <td><%= link_to 'Edit', edit_webservice_path(webservice) %></td>
        <td><%= link_to 'Destroy', webservice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Webservice', new_webservice_path %>
