<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @datatype.name %>
</p>

<p>
  <strong>Expression:</strong>
  <%= @datatype.expression %>
</p>

<%= link_to 'Edit', edit_datatype_path(@datatype) %> |
<%= link_to 'Back', datatypes_path %>
